@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* размер шрифта во вкладках */
.tab-text {
  -moz-appearance: none !important; font-size: 10pt !important;
}

/* размер шрифта в контекстном меню */
#mainPopupSet menuitem,
#mainPopupSet menu {
  font-size: 10pt !important; 
}

/* show bookmarks only on new tab */
#main-window #PersonalToolbar {
  visibility: collapse !important;
}

#main-window[title^="about:newtab"] #PersonalToolbar,
#main-window[title^="New Tab"] #PersonalToolbar,
#main-window[title^="Nightly"] #PersonalToolbar,
#main-window[title^="Mozilla Firefox"] #PersonalToolbar,
#main-window[title^="Firefox"] #PersonalToolbar,
#main-window[title^="新标签页"] #PersonalToolbar,
#main-window[title^="Customize Firefox"] #PersonalToolbar {
  visibility: visible !important;
}

/* black address bar in private mode */
#main-window[privatebrowsingmode="temporary"] #urlbar
{
  background: black !important;
  color: white !important;
}

/* grayscale extension buttons */
#_d634138d-c276-4fc8-924b-40a0ea21d284_-browser-action,
#umatrix_raymondhill_net-browser-action {
  filter: grayscale(1) brightness(0.5) contrast(1) invert(1); /* Remove invert(1) to make it dark */
}

/* hide context-menu items */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator,
#context-pocket,
#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement
{
  display: none !important;
}

/* font size in main menu */
#appMenu-mainView {
  font-size: 10pt !important
}

/* hide url dropdown */
.urlbar-history-dropmarker {
  display: none !important;
}

/* hide url pocket button */
#pocket-button-box {
  display: none !important;
}

/* hide url bookmark button */
#star-button-box {
  display: none !important;
}

/* hide fingerprint icon from url bar */
#pageAction-urlbar-canvasblocker_kkapsner_de {
  display: none !important;        
}

/* ====== hide tabs with one tab ======= */
/* source: https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/hide_tabs_with_one_tab.css */
:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}
#tabbrowser-tabs .tabbrowser-tab{ height: var(--tab-min-height) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover{ background-color: var(--toolbarbutton-hover-background) }

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
:root[sizemode="maximized"] #navigator-toolbox{ padding-top:7px !important; }

/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
#nav-bar{
  border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}
