
/* размер шрифта во вкладках */
.tab-text {
  -moz-appearance: none !important; font-size: 10pt !important;
}

/* размер шрифта в контекстном меню */
#mainPopupSet menuitem,
#mainPopupSet menu {
  font-size: 10pt !important; 
}

/* black address bar in private mode */
#main-window[privatebrowsingmode="temporary"] #urlbar
{
  background: black !important;
  color: white !important;
}

/* grayscale extension buttons */
#_d634138d-c276-4fc8-924b-40a0ea21d284_-browser-action,
#umatrix_raymondhill_net-browser-action {
  filter: grayscale(1) brightness(0.5) contrast(1) invert(1); /* Remove invert(1) to make it dark */
}

/* hide context-menu items */
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context_sendTabToDevice,
#context_sendTabToDevice_separator,
#context-pocket,
#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement,
#_d0210f13-a970-4f1e-8322-0f76ec80adde_-menuitem-1, /* save to instapaper */
#pinboard-webextension_helloworld_ro-menuitem-3,
#screenshots_mozilla_org-menuitem-_create-screenshot
{
  display: none !important;
}

/* font size in main menu */
#appMenu-mainView {
  font-size: 10pt !important
}

/* hide url dropdown */
.urlbar-history-dropmarker {
  display: none !important;
}

/* hide url pocket button */
#pocket-button-box {
  display: none !important;
}

/* hide url bookmark button */
#star-button-box {
  display: none !important;
}

/* hide fingerprint icon from url bar */
#pageAction-urlbar-canvasblocker_kkapsner_de {
  display: none !important;        
}

/* center text in url bar */
#urlbar-input {
  text-align: center !important;
}


/* ---------------------------------- */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs */
/* Firefox 65+ only */


:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}

:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1 > .toolbarbutton-icon{
  padding-block: 0px !important;
  max-height: 28px;
  height: 20px !important
}

#tabbrowser-tabs .tabbrowser-tab{ height: var(--tab-min-height) }

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover{ background-color: var(--toolbarbutton-hover-background) }

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
:root[sizemode="maximized"] #navigator-toolbox{ padding-top:7px !important; }

/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
#nav-bar{
  border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}
